{% extends app.request.isXmlHttpRequest() 
? 'basejs.html.twig'
: 'base.html.twig' %}

{% block modulName %}
    {{ caption }}
    <small>Edit</small>
    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
{% endblock %}

{% block navigation %}
    <li class="active">{{ caption }}</li>
{% endblock %}

{% block body %}

<div class="row">
    <div class="row">
    <div class="col-md-12">
        {% for type, flashMessages in app.session.flashbag.all() %} 
        {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage|raw }}
        </div>
         {% endfor %} 
         {% endfor %} 
    </div>
</div>
    

    {{ form_start(edit_form) }}

    {{ form_widget(edit_form) }}
    <p>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Update
        </button>
    </p>
    {{ form_end(edit_form) }}

    <hr/>

    
<div class="form-group">
    <a id="btn_ticketComment" class="btn btn-default">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>

    <script>
        $('#btn_ticketComment').click(function() {
            $( "#snitContent" ).load('{{ path('ticketcomment') }}', function () {
                history.pushState({}, null, '{{ path('ticketcomment') }}');
            });
        });
    </script>


    <a id="btn_ticketComment_new" class="btn btn-info" >
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New
    </a>
    <script>
        $('#btn_ticketComment_new').click(function() {
            $( "#snitContent" ).load('{{ path('ticketcomment_new', { 'id':  ticketComment.id }) }}', function () {
                history.pushState({}, null, '{{ path('ticketcomment_new', { 'id':  ticketComment.id }) }}');
            });
        });
    </script>
    <form action="{{ path('ticketcomment_delete', { 'id': ticketComment.id }) }}" method="post" style="display: inline-block">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Delete
        </button>
    </form>
</div>

</div>


{% endblock %}

